/**
 * index.scss
 * - Add any styles you want here!
 */
*{
  box-sizing: border-box;
}

[class*="col-"] {
    width: 100%;
	float: left;
	padding: 15px;
}

[class*="col-"] div{
	margin: auto;
}

@media only screen and (min-width:768px){
  /* For tablet: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

@media only screen and (min-width:1020px){
/* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

body {
  /* background: #f5f5f5; */
  font-family: arial;
  margin: 0px;
  overflow: auto;
}

header, footer {
  background-color: #2098D1;
  /*padding: 10px 0;*/
  display: block;
  width: 100%;
  margin: 0px;
  color: white;
}

header {
  height: 120px; 
  padding: 0px;
  position: relative;
}
@media only screen and (min-width: 320px){
  header{
    height: 80px
  }
}
footer{
  text-align: center;
  padding: 10px 0;
}

#logo{
	font-weight: bold;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 20px;
}
@media only screen and (min-width: 1020px){
	#logo{
		left:12.5%;
		padding: 0;
	}
}

nav {
  display: block;
  height: 100%;
  width: 100%;
  position: relative; /* need this line to vertically align <ul> in center */
}
nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; /*15px*/
  display: block;
  width: 90px;
  position: absolute;
  right:0px;
  top: 50%;
  transform: translate(0px, -50%);
}
@media only screen and (min-width: 320px){
  nav ul{
    width: 300px
  }
}
@media only screen and (min-width: 1020px){
	nav ul{
		right:12.5%;
	}
}
nav ul li {
  font-weight: bold;
  display: inline-block;
  width: 90px;
  padding: 5px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  transition: border-bottom 1s;
  border: 2px solid transparent;
}

nav ul li a:hover{
  border-bottom: 2px solid #045F8C;
}

nav ul li a:active{
  border-bottom: 2px solid white;
}

#about{
	background-color:#F4FFFB; /*#2098D1;*/
	width: 100%;
}
@media only screen and (min-width: 1020px){
	#about{
		padding: 0px 12.5%;
	}
}

h1{
	color: #2098D1;
}

#about h1{
	padding-top: 50px;
}

#profile{
	width: 300px;
	height: 300px;
	margin: auto;	
}

#profile img{
	border-radius: 50%;
	width: 300px;
	height:300px;
	margin: auto;
}
img{
	max-width: 100%;
}

h1{
	text-align: center;
}
content{
	display: block;
	margin: auto;
	overflow:auto;
	width: 100%;
}
@media only screen and (min-width: 1020px){
	content{
		width:75%;
	}
}

.section::after{
  content: "";
  clear: both;
  display: table;
}


.showcase{
	max-width: 600px;
	/*max-height: 400px;*/
	height: auto;
	margin: auto;
	border: 1px solid #ccc;
}

.showcase:hover{
	border: 1px solid #777;
}

.showcase img{
  max-width: 100%;
  height: auto;
  display: block;
}
.showcase .title{
	font-weight: bold;
	padding: 10px 10px 0px 10px;
}
.showcase .desc{
	padding: 0px 10px 10px 10px;
}

#contact{
	padding: 0 15px;
}

#contact p{
	text-align: justify;
}

form{
	max-width: 800px;
	margin: auto;
}

input, textarea{
	width: 100%;
	padding: 10px;
}

input{
	margin-bottom: 15px;

}

textarea{
	height: 150px;
}

input[type="submit"]{
	background-color: #2098D1;
	border: none;
	color: white;
	font-weight: bold;
	font-size: larger;
	margin: 15px auto 30px;
}

input[type="submit"]:hover{
	background-color: #045F8C;
	/*border:1px solid #045F8C;*/
}

footnote{
	font-size: smaller;
}

.socialcontainer{
	height: 32px;
	/*width: 42px;*/
	padding: 0 5px;
	display: inline-block;
}
.social{
	/*background-color: white;
	border: 1px solid white;*/
	height: 32px;
	width: 32px;
	display: inline-block;
	margin: auto;
	overflow: hidden;
}

.social:hover{
	background-color: #045F8C;
}

#linkedin{
	border-radius: 5px;
}

#github{
	border-radius: 50%;
}

#freecodecamp{
	height: 32px;
	width: 49px;
	border-radius: 14px;
}
