.bg-1 {
  background-color: #B1CBBB; /*#92B558; #1abc9c;  Green */
}

.bg-0 {
	background-color: #ccccc;
}

.bg-2 {
	background-color: #82b74b;
	
}

.container-fluid {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

header .container-fluid {
    padding-top: 0;
    padding-bottom: 0;
}

#about .row {
  justify-content: center;
  align-items: center;
  color: #fff;
}

#about img {
	max-width: 250px;
}

h1 {
	margin-bottom: 2rem;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
}

h2 {
	margin: 1rem 0;
	font-size: 1.3rem;
}

#expertise {
	text-align: center;
}

#expertise i.fa {
	font-size: 3rem;
	color: #3333ff;
}

#portfolio {
	background-color: #DEEAEE;
}

.showcase {
	padding: 0 0 2.2rem;
	text-align: center;
}
.showcase hr {
	margin-top: 2.2rem;
	margin-bottom: 0;
}

h2.project-title {
	margin-bottom: 0.5rem;
	font-weight: 700;
}

ul.project-skills {
	padding-left: 0;
	font-weight: 700;
}

.project-skills li {
	display: inline;
	color: #3366ff;
	margin-right: 0.4rem;
}

.btn {
	background-color: #3333ff;
	border: none;
}
.btn:hover {
	background-color: #0000e6;
}

#contact a {
	color: #fff;
	font-size: 2rem;
	margin: 0 0.5rem;
}
#contact a:hover {
	color: #B1CBBB;
}

li {
	list-style-type: none;
}

footer {
	padding-bottom: 1rem;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .navbar{
		padding-left: 12.5%;
		padding-right: 12.5%;
	}
    
	.container-fluid {
		padding-left: 12.5%;
		padding-right: 12.5%;
	}
	
    h1 {
		font-size: 2rem;
	    font-weight: 700;
    }

    h2 {
	    margin: 1.8rem 0;
    }
	
	.showcase {
	    padding: 1rem 0 3rem;
		text-align: left;
    }
	
	h2.project-title {
	    margin-top: 0;
    }
	
	.showcase hr {
		margin-top: 4rem;
		margin-bottom: 0;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  
    
	
	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2rem;
	}
}